body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

header {
  padding: 40px 20px;
}

button {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: #e63946;
  color: white;
}